/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
	font-family: Verdana,Helvetica,sans-serif;
	color: navy;
}

body {
	background-color: silver;
}

h1, h2 {
	background-color: #ddd;
	margin: 0;
}
form {
	padding: 1em;
	border-style: inset;
}
form label {
	display: block;
	color: #333;
	font-style: italic;
}
