!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    = yield
